python-dotenv
streamlit
langchain
langchain-groq
langchain-chroma
langchain-huggingface
langgraph
chromadb
sentence-transformers
arxiv
requests
tavily-python
langchain-text-splitters
langchain-community
langchain-core
groq
